<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <title th:text="#{title}">Demo</title>
</head>
<body>
<div class="container-md unauthenticated" sec:authorize="isAnonymous()">
    <h1 th:text="#{login.title}">Login</h1>
    <p>
        <span th:text="#{login.with}"></span>: <a th:href="@{/oauth2/authorization/web-client}" th:text="#{login.link}">click here</a>
    </p>
</div>
<div class="container-md authenticated" style="display: none" sec:authorize="isAuthenticated()">
    <h1 th:text="#{welcome}">Welcome</h1>
    <p>
        <span th:text="#{logged.in}"></span>: <span id="user"></span>
    </p>
    <p>
        <span th:text="#{logged.in.thymeleaf}"></span>: <span sec:authentication="name"></span>
    </p>
    <p>
        <a href="http://localhost:9000/webauthn/register" th:text="#{register.passkey}">Register passkey</a>
    </p>
    <div sec:authorize="hasAuthority('SCOPE_resources.read')">
        <h2 th:text="#{resources}">Resources</h2>
        <ul id="resources"></ul>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary" th:text="#{logout}">Logout</button>
        </form>
    </div>
</div>
<script type="text/javascript"
        th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type === 'POST' || settings.type === 'PUT'
                || settings.type === 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });
    $.get("/user", function (data) {
        $("#user").html(data.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
    });
    $.get("/resources", function (data) {
        data.forEach(function (item) {
            $("#resources").append("<li>" + item + "</li>");
        })
    });
</script>
</body>
</html>