<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script type="text/javascript" th:src="@{/login/webauthn.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        <!--
        document.addEventListener("DOMContentLoaded", () => setupLogin({"X-CSRF-TOKEN": "[[${_csrf.token}]]"}, "", document.getElementById('passkey-signin')));
        //-->
    </script>
    <title th:text="#{login.title}">Please sign in</title>
</head>
<body class="text-center">
<main class="form-signin">
    <div class="alert alert-warning" role="alert" th:if="${param.expired}" th:text="#{login.error.session.expired}">Session expired please try to login again.</div>
    <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="#{login.error}">Invalid username or password.</div>
    <div class="alert alert-info" role="alert" th:if="${param.logout}" th:text="#{logout.info}">You have been logged out.</div>
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal" th:text="#{login.title}">Please sign in</h1>
        <p th:text="#{login.help.message}">
            Login with user/user or admin/admin.
        </p>
        <div class="form-floating">
            <input type="text"
                   class="form-control"
                   name="username"
                   id="username"
                   placeholder="name@example.com"/>
            <label for="username" th:text="#{login.username}">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
            <label for="password" th:text="#{login.password}">Password</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me"/>
            <label class="form-check-label" for="remember-me" th:text="#{login.remember-me}">Remember me</label>
        </div>
        <div class="d-grid gap-2 col-12 mx-auto">
            <button class="btn btn-primary" type="submit" th:text="#{button.login}">Sign in</button>
        </div>
    </form>
    <hr/>
    <form id="ott-form" th:action="@{/ott/generate}" method="post">
        <div class="form-floating">
            <input class="form-control" type="text" id="ott-username" name="username" th:placeholder="#{login.username}" placeholder="Username" required>
            <label for="ott-username" th:text="#{login.username}">Username</label>
        </div>
        <div class="d-grid gap-2 col-12 mx-auto mt-2">
            <button class="btn btn-primary" form="ott-form" type="submit" th:text="#{button.ott.login}">Send Token</button>
        </div>
    </form>
    <hr/>
    <div class="d-grid gap-2 col-12 mx-auto">
        <h2 th:text="#{login.passkey.title}">Login with Passkeys</h2>
        <button id="passkey-signin" class="btn btn-primary" type="submit" th:text="#{button.login.passkey}">Sign in with a passkey</button>
    </div>
</main>
</body>
</html>
